OpenCloudRepository/Schemas/Imports/PortalOpenCloud/FachadaServicios.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="AprovisionaProyecto">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="bill_account" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OrdenSiebel" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IDCSA" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IDTIBCO" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AprovisionaProyectoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AprovisionaProyectoResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ActualizaOrden">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="bill_account" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OrdenSiebel" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="estatus" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ActualizaOrdenResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ActualizaOrdenResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="BloqueaCliente">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="bill_account" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="BloqueaClienteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="BloqueaClienteResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DesbloqueaCliente">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="bill_account" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DesbloqueaClienteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="DesbloqueaClienteResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="isAlive">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="isAliveResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="isAliveResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="AprovisionaProyectoSoapIn">
        <wsdl:part name="parameters" element="tns:AprovisionaProyecto"/>
    </wsdl:message>
    <wsdl:message name="AprovisionaProyectoSoapOut">
        <wsdl:part name="parameters" element="tns:AprovisionaProyectoResponse"/>
    </wsdl:message>
    <wsdl:message name="ActualizaOrdenSoapIn">
        <wsdl:part name="parameters" element="tns:ActualizaOrden"/>
    </wsdl:message>
    <wsdl:message name="ActualizaOrdenSoapOut">
        <wsdl:part name="parameters" element="tns:ActualizaOrdenResponse"/>
    </wsdl:message>
    <wsdl:message name="BloqueaClienteSoapIn">
        <wsdl:part name="parameters" element="tns:BloqueaCliente"/>
    </wsdl:message>
    <wsdl:message name="BloqueaClienteSoapOut">
        <wsdl:part name="parameters" element="tns:BloqueaClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="DesbloqueaClienteSoapIn">
        <wsdl:part name="parameters" element="tns:DesbloqueaCliente"/>
    </wsdl:message>
    <wsdl:message name="DesbloqueaClienteSoapOut">
        <wsdl:part name="parameters" element="tns:DesbloqueaClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="isAliveSoapIn">
        <wsdl:part name="parameters" element="tns:isAlive"/>
    </wsdl:message>
    <wsdl:message name="isAliveSoapOut">
        <wsdl:part name="parameters" element="tns:isAliveResponse"/>
    </wsdl:message>
    <wsdl:portType name="FachadaServiciosSoap">
        <wsdl:operation name="AprovisionaProyecto">
            <wsdl:input message="tns:AprovisionaProyectoSoapIn"/>
            <wsdl:output message="tns:AprovisionaProyectoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ActualizaOrden">
            <wsdl:input message="tns:ActualizaOrdenSoapIn"/>
            <wsdl:output message="tns:ActualizaOrdenSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="BloqueaCliente">
            <wsdl:input message="tns:BloqueaClienteSoapIn"/>
            <wsdl:output message="tns:BloqueaClienteSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DesbloqueaCliente">
            <wsdl:input message="tns:DesbloqueaClienteSoapIn"/>
            <wsdl:output message="tns:DesbloqueaClienteSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <wsdl:input message="tns:isAliveSoapIn"/>
            <wsdl:output message="tns:isAliveSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FachadaServiciosSoap" type="tns:FachadaServiciosSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AprovisionaProyecto">
            <soap:operation soapAction="http://tempuri.org/AprovisionaProyecto" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ActualizaOrden">
            <soap:operation soapAction="http://tempuri.org/ActualizaOrden" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BloqueaCliente">
            <soap:operation soapAction="http://tempuri.org/BloqueaCliente" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DesbloqueaCliente">
            <soap:operation soapAction="http://tempuri.org/DesbloqueaCliente" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <soap:operation soapAction="http://tempuri.org/isAlive" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FachadaServiciosSoap12" type="tns:FachadaServiciosSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AprovisionaProyecto">
            <soap12:operation soapAction="http://tempuri.org/AprovisionaProyecto" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ActualizaOrden">
            <soap12:operation soapAction="http://tempuri.org/ActualizaOrden" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BloqueaCliente">
            <soap12:operation soapAction="http://tempuri.org/BloqueaCliente" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DesbloqueaCliente">
            <soap12:operation soapAction="http://tempuri.org/DesbloqueaCliente" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <soap12:operation soapAction="http://tempuri.org/isAlive" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FachadaServicios">
        <wsdl:port name="FachadaServiciosSoap" binding="tns:FachadaServiciosSoap">
            <soap:address location="http://mga-vm43/wsECCOpenCloud/FachadaServicios.asmx"/>
        </wsdl:port>
        <wsdl:port name="FachadaServiciosSoap12" binding="tns:FachadaServiciosSoap12">
            <soap12:address location="http://mga-vm43/wsECCOpenCloud/FachadaServicios.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>